.app__main-discovery {
    margin-left: 10%;
    height: 42vh;
    width: 52vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.main__image-discovery {
    position: absolute;
    top: 30%;
    right: 8%;
    height: 48vh;
    width: 26vw;
  }
  
  .main__block-buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main__discovery-heading {
    font-size: 9vh;
  }
  
  .main__discovery-button {
    width: 26%;
    font-size: 4vh;
  }
  
  .main__discovery-info {
    font-size: 2.4vh;
  }