.app__main-join {
    margin-left: 10%;
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__form {
    order: -1;
    border-radius: 20px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #5e659d;
    background-color: #5e659d;
}
  
.form__item {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__button-join {
  font-weight: 300;
  font-size: 4.6vh;
  line-height: 7vh;
  width: 32%;
  text-align: center;
  color: white;
  border-radius: 10px;
  border: solid #5e659d;
  background-color: #5e659d;
}

.form__item__info {
    font-size: 3.6vh;
}

.form__item__input {
    width: 70%;
    height: 60%;
    border: 4px solid #DBAC74;
    border-radius: 20px; 
}

.main__image-join {
    width: 80vw;
    height: 90vh;
    position: absolute;
    z-index: -2;
    right: -10%;
    bottom: 0;
}