html {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%), url(../assets/images/hero-bg.png) no-repeat;
  background-size: 100%;
  background-color: #000000;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.start {
  width: 100%;
  height: 1200px;
}

.menu,
.links {
  margin-left: 84px;
}

.menu,
.finality_header,
.finality_info {
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 64px;
  margin-bottom: 198px;
  width: 90%;
  height: 25px;
  line-height: 25px;
  align-items: center;
}

.finality_header {
  border-bottom: 1px solid white;
  width: 100%;
  height: 126px;
  align-items: flex-start;
}

.title,
.main_name {
  font-weight: 700;
  text-transform: capitalize;
}

.title {
  font-size: 24px;
  line-height: 33px;
}

.main_name {
  font-size: 96px;
  /*font-size: 88px;*/
  line-height: 104%;
}

.name {
  margin: auto;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  /* width: 950px;
  height: 261px; */
}

.info,
.links,
.finality_list,
.email_item {
  padding: 0;
  list-style-type: none;
}

.links {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info,
.finality_list {
  display: flex;
}

.info_item:not(:last-child),
.list_item:not(:last-child) {
  margin-right: 50px;
}

.finality_list {
  margin-top: 0;
}

.links_item:first-child {
  writing-mode: vertical-rl;
}

.links_item:not(:first-child) {
  margin-top: 22px;
}

.searching {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  margin-right: 17px;
}

.article_content {
  display: flex;
}

.yellow_dash {
  width: 72px;
  height: 2px;
  background: #FFC178;
}

.chapter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  margin-bottom: -60px;
}

.chapter_item,
.more_info,
.chapter_item_slider {
  color: #FFC178;
}

.chapter_item,
.chapter_item_slider {
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-left: 32px;
}

.chapter_item_slider {
  margin-right: 32px;
}

.lighter_name {
  font-weight: lighter;
}

.scrolling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.bottom_gradient {
  margin-top: 136px;
  margin-left: -30px;
  width: 102.5%;
  height: 358px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
}

.holidays,
.wrapper,
.culture {
  display: flex;
  justify-content: space-between;
}

.holidays,
.slider,
.culture {
  width: 100%;
}

.holidays {
  height: 70%;
  margin-top: -6%;
  /*border: 10px solid red;*/
}

.slider {
  position: relative;
  margin-top: 18% ;
  width: 100%;
  /*border: 1px solid red;*/
}

.slider_image {
  max-width: 100%;
  height: 100%;
}

.slider_data {
  position: absolute;
  bottom: 0;
}

.wrapper {
  width: 85%;
  margin-left: 100px;
  flex-direction: column;
  /*border: 1px solid red;*/
}

.holidays_image,
.culture_image {
  width: 50%;
  height: 100%;
}

.holidays_image {
  margin-top: -6%;
}

.holidays_item,
.culture_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  width: 45%;
  height: 74%;
  /*border: 1px solid red;*/
}

.header_section,
.slider_header,
.culture_header {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}

.header_section,
.culture_header {
  padding-right: 12%;
}

.holidays_text,
.slider_text,
.culture_text {
  margin-top: -50px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 32px;
}

.more_info {
  display: flex;
  align-items: center;
}

.slider_icons {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider_item {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
  margin: auto;
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_info {
  margin-top: 20px;
  width: 68%;
  text-align: center;
}

.slider_header {
  margin-right: auto;
}

.material-symbols-outlined {
  margin: 0;
}

.culture {
  margin-top: 226px;
  align-items: center;
}

.finality {
  margin-top: 250px;
  margin-bottom: 118px;
  width: 100%;
  height: 748px;
  /*border: 1px solid red;*/
}

.explorance {
  display: flex;
}

.explorance_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;

}

.finality_button {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  margin-left: 56px;
  height: 70px;
  width: 240px;
  border-radius: 8px;
  background: #FFA343;
  border-radius: 8px;
}

.finality_title {
  margin-top: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.01em;
}

.finality_item {
  margin-top: 55px;
  margin-bottom: 101px;
  width: 90%;
  height: 248px;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid red;*/
}

.finality_info {
  /*border: 1px solid red;*/
  width: 95%;
  height: 30px;
}

.email_lists {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.address {
  font-size: 19px;
  font-weight: 400;
}

.address:not(:first-child) {
  margin-top: 25px;
}

.address_title {
  font-weight: 700;
  color: #FFD1A0;
}

.email {
  height: 78%;
  width: 30%;
}

.email_header {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.email_address {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.email_text {
  font-weight: 400;
  margin-left: 15px;
}

.email_button {
  height: 100%;
  margin-bottom: 0;
  margin-right: 0;
  width: 69px;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
}

.copyright {
  text-align: center;
  margin-top: 156px;
  font-weight: 400;
}