.app__main-start {
    margin-left: 10%;
    height: 42vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .main__image-start {
    width: 90vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    right: -10%;
    bottom: 0;
  }
  
  .main__heading {
    margin: 0;
    font-weight: 400;
    font-size: 12vh;
  }
  
  .main__info {
    margin: 0;
    text-align: center;
    font-size: 4vh;
  }
  
  .main__button {
    font-weight: 300;
    font-size: 5vh;
    line-height: 7vh;
    width: 32%;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: solid #5e659d;
    background-color: #5e659d;
  }
  