.app__header {
    width: 44%;
    margin-top: 4%;
    margin-left: 13%;
  }
  
  .header__link-discovery {
    font-size: 4.2vh;
    line-height: 6.2vh;
  }
  
  .header__link-discovery:not(:last-child) {
    margin-right: 8%;
  }