/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
  overflow-x: hidden;
}

body {
  width: 100%;
}

.app {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app__swiper {
  margin: 12% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 50vh;
}

.swiper__heading {
  text-align: center;
}

.swiper {
  max-width: 80%;
  height: 50vh;
}

.slide {
  margin: 0 20%;
  height: 20vh;
  width: 60%;
}

.swiper-wrapper {
  top: 26%;
}

.swiper-slide-active .slide {
  box-shadow: 0px 21px 88px 0px #7E767633;
  border-radius: 20px;
  transform: scale(1.5);
}

.slide-prev,
.slide-next {
  position: absolute;
  transform: translateY(28vh);
}

.slide-prev {
  left: 0;
}

.slide-next {
  right: 0;
}

.app__navigation {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navigation__menu {
  height: 100vh;
  width: 100vw;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  transition: 0.5s;
}

.menu__block-header {
  background-color: white;
  width: 100%;
  height: 8vh;
}

.menu__header {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__heading {
  font-size: 5vh;
  color: #DE5150;
}

.header__image {
  height: 100%;
  width: 6%;
}

.menu__icons {
  margin: 5% auto;
  width: 90%;
  height: 36%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.icons__item {
  width: 10vh;
  height: 10vh;
  background: white;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons__item-photo {
  height: 80%;
  width: 40%;
}

.navigation__header {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  max-height: 100%;
  width: 20%;
}

.header__burger {
  max-height: 80%;
  width: 12%;
}

.navigation__content {
  width: 90%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content__description {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.content__image {
  max-height: 40vh;
  width: 90%;
}

.header__block-icons {
  display: none;
}

.content__info {
  width: 100%;
  text-align: left;
}

h1, h3, p, h2 {
  margin: 0;
}

.info__theme {
  font-size: 3.2vh;
  font-weight: 500;
  line-height: 6vh;
}

.info__theme__crossed {
  font-size: 4.2vh;
  text-decoration: line-through;
  opacity: 0.7;
}

.info__cost {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
  width: 90%;
}

.info__heading {
  font-size: 5vh;
  font-weight: 700;
  line-height: 5vh;
}

.cost__heading {
  font-size: 6vh;
}

.info__cost__line {
  height: 120%;
  position: absolute;
  top: -14%;
  left: 60%;
  border: 3px solid rgba(255, 255, 255);
  background-color: rgba(255, 255, 255);
}

.content__button {
  font-size: 3.2vh;
  line-height: 4vw;
  font-weight: 500;
  height: 24%;
  width: 100%;
  border-radius: 82px;
  border: none;
  color: #FF4948;
  background-color: white;
}

.app__feature {
  margin: 0 auto 12%;
  width: 90%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.feature__info {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__description {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description__block-image {
  margin: 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #FDD8D8;
  border-radius: 100px;
  height: 50%;
  width: 18%;
}

.description__border {
  position: absolute;
  border-radius: 100px;
  border: 5px solid #FDD8D8;
  border-bottom: 8px solid #FF4948;
  height: 140%;
  width: 140%;
}

.description__image {
  height: 55%;
  width: 55%;
}

.feature__heading {
  font-size: 4.2vh;
  font-weight: 500;
}

.params__text {
  font-size: 2.2vh;
  line-height: 4vh;
}

.params__text__bold-red {
  font-weight: 500;
  color: #FF4948;
}

.feature__image {
  align-self: center;
  max-height: 100%;
  width: 30vh;
}

.app__product {
  margin: 0 auto 12%;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  width: 100%;
  text-align: center;
}

.title__heading {
  line-height: 10vh;
}

.title__text {
  line-height: 3.2vh;
}

.product__block-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item-first {
  display: none;
}

.product__item-third {
  display: none;
}

.product__photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 60%;
}

.product__photo-first {
  background: #FFE6EE;
}

.product__photo-second {
  background: #E6F1FF;
}

.product__photo-third {
  background: #E6FFFB;
}

.photo__block-icon {
  position: absolute;
  border: 6px solid #FFFFFF;
  right: -8%;
  top: -8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 7vh;
  width: 6.8vh;
}

.photo-first__block-icon {
  background: #FFE5EE;
}

.photo-second__block-icon {
  background: #E5F1FF;
}

.photo-third__block-icon {
  background: #E5FFFB;
}

.photo__icon {
  width: 50%;
  height: 50%;
}

.product__image {
  position: absolute;
  top: -16%;
  height: 110%;
  width: 50vw;
}

.product__rating {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rating__block-icons {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.block-icons__image-star {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-star__item {
  height: 100%;
  width: 16%;
}

.rating__text {
  font-size: 2.6vh;
}

.rating__info {
  font-weight: 500;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.rating__info__cost {
  font-size: 2.6vh;
}

.rating__info__text {
  font-size: 2.2vh;
}

.app__boxing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 12%;
  width: 90%;
  height: 72vh;
}

.boxing__image {
  width: 40vh;
  height: 60vh;
}

.boxing__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.boxing__info__heading {
  font-weight: 700;
}

.info__params {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30vh;
}

.params__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.params__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item__photo {
  margin-right: 4%;
  height: 52%;
  width: 6%;
}

.item__text {
  font-size: 2.6vh;
  color: rgba(0, 0 , 0, 0.7);
}

.app__main-cta {
  width: 100vw;
  height: 44vh;
  background: #FFF4F4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 12%;
}

.main-cta__heading {
  font-weight: 700;
  line-height: 8vh;
  font-size: 10vw;
}

.main-cta__text {
  font-size: 3.8vw;
}

.main-cta__input {
  height: 46%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input__text {
  border: none;
  width: 94%;
  height: 38%;
  border-radius: 20px;
  font-size: 4vw;
  color: rgba(0, 0 , 0, 0.5);
  padding-left: 5%;
}

.input__button {
  border: none;
  width: 100%;
  height: 38%;
  border-radius: 20px;
  font-size: 4.8vw;
  font-weight: 500;
  color: white;
  text-align: center;
  background: #FF4948;
}

.app__footer {
  width: 100vw;
  height: 18vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__info {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info__block-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 36%;
}

.block-icons__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;
  width: 20%;
  border-radius: 100px;
}

.info__links {
  display: none;
}

.info__icon {
  height: 50%;
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 1280px;
  }

  .app__navigation {
    width: 100vw;
  }

  .header__burger {
    display: none;
  }

  .header__block-icons {
    width: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .block-icons__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    height: 7vh;
    width: 18%;
  }

  .item__line {
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 7vh;
  }

  .navigation__content {
    width: 84%;
    height: 80vh;
    flex-direction: row;
    align-items: start;
  }

  .item__image {
    height: 50%;
    width: 50%;
  }

  .content__description {
    height: 90%;
    width: 40%;
  }

  .content__image {
    max-height: 100vh;
    width: 70vh;
  }

  .info__cost {
    width: 70%;
    align-items: center;
  }

  .info__cost__line {
    height: 60%;
    top: 10%;
  }

  .info__heading {
    font-size: 7vw;
    font-weight: 700;
    line-height: 7vw;
  }

  .info__theme {
    font-size: 4vh;
    font-weight: 500;
    line-height: 6vh;
  }

  .cost__heading {
    font-size: 6vh;
  }

  .content__button {
    height: 12%;
    width: 40%;
  }

  .app__swiper {
    height: 70vh;
    width: 77vw;
    margin: 6% 0;
  }

  .swiper {
    max-width: 70%;
    height: 70vh;
  }
  

  .slide {
    margin: 0 5%;
    height: 30vh;
    width: 96%;
  }

  .slide-prev,
  .slide-next {
    transform: translateY(35vh);
  }

  .app__feature {
    margin: 0 auto 6%;
    width: 94%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .feature__info {
    width: 35%;
    height: 100%;
  }  

  .feature__heading {
    align-self: start;
    font-weight: 700;
    font-size: 5vh;
  }

  .info__description {
    width: 80%;
  }

  .description__block-image {
    width: 22%;
    height: 32%;
  }

  .params__heading {
    font-size: 4.2vh;
  }

  .feature__image {
    margin: 0 auto;
    align-self: center;
    max-height: 86%;
    width: 26%;
  }

  .app__product {
    width: 82vw;
    margin: 0 auto 6%;
  }

  .product__item-first {
    display: flex;
  }
  
  .product__item-third {
    display: flex;
  }  

  .product__image {
    width: 80%;
  }

  .product__title {
    width: 48%;
  }

  .title__heading {
    line-height: 7vh;
  }

  .app__boxing {
    width: 90%;
    flex-direction: row;
    margin: 0 auto 8%;
  }

  .boxing__info {
    width: 70%;
  }

  .boxing__image {
    width: 46vw;
    height: 60vh;
  }

  .app__main-cta {
    margin: 0 auto 8%;
    width: 50vw;
    height: 36vh;
  }

  .main-cta__heading {
    line-height: 8vh;
    font-size: 3.4vw;
  }
  
  .main-cta__text {
    font-size: 1.2vw;
  }
  
  .main-cta__input {
    position: relative;
    height: 20%;
    width: 70%;
    flex-direction: row;
  }
  
  .input__text {
    height: 100%;
    font-size: 1.2vw;
  }
  
  .input__button {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-size: 1.4vw;
  }

  .info__links {
    display: inline;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3vh;
  }
  
  .links__item:not(:last-child) {
    margin-right: 20%;
  }

  .info__block-icons {
    width: 20%;
  }

  .info__icon {
    width: 8%;
  }
}
