.app__footer {
    margin-left: 11%;
    display: flex;
    width: 50%;
  }
  
  .footer__item {
    font-size: 3.4vh;
    line-height: 4vh;
  }
  
  .footer__item:not(:last-child) {
    margin-right: 5%;
  }